<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- BLOGGR CONFIG -->
    <commands>
      <command name="bloggr:createpost" type="Alienlab.Bloggr.BloggrCreatePostCommand, Alienlab.Bloggr" />
    </commands>
    
    <events>
      <event name="item:added">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemAdded" />
      </event>
      <event name="item:moved">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemMoved" />
      </event>
      <event name="item:renamed">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemRenamed" />
      </event>
      <event name="item:saved">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemSaved" />
      </event>
    </events>

    <sites>
      <site name="alen" hostName="alen.bloggr" rootPath="/sitecore/content/blogs/alen" inherits="website" patch:before="site[@name='website']" />
    </sites>
    
    <!-- BLOGGR DEVELOPMENT CONFIG -->
    <settings>
      <setting name="SerializationFolder" value="/Serialization" />
    </settings>
  </sitecore>
</configuration>