<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- BLOGGR CONFIG -->
    <events>
      <event name="item:saved">
        <handler type="Alienlab.Bloggr.EventHandler, Alienlab.Bloggr" method="OnItemSaved" />
      </event>
    </events>
    
    <!-- BLOGGR DEVELOPMENT CONFIG -->
    <settings>
      <setting name="SerializationFolder" value="/Serialization" />
    </settings>
  </sitecore>
</configuration>