@using Alienlab.Bloggr
@using Sitecore.Diagnostics
@using Sitecore.Mvc
@{
  Layout = null;
  var item = BloggrContext.GetHome();
  Assert.IsNotNull(item, "Cannot find an ancestor or self item based on Bloggr Home template");
}

<div class="footer">
  <hr />
  <p>@Html.Sitecore().Field("Bloggr Footer", item, new { DisableWebEdit = true })</p>
</div>