@using Alienlab.Bloggr
@using Sitecore.Diagnostics
@using Sitecore.Links
@using Sitecore.Mvc
@{
  Layout = null;
  var item = BloggrContext.GetHome();
  Assert.IsNotNull(item, "Cannot find an ancestor or self item based on BloggrHome template");
}

<div class="header">
  <h1><a href="@LinkManager.GetItemUrl(item)">@Html.Sitecore().Field("BloggrTitle", item, new { DisableWebEdit = true })</a></h1>
</div>