@using Sitecore.Links
@using Sitecore.Mvc
@{
    Layout = null;
}

<div class="feed">
  <h2>Posts</h2>
  
  @{
    var posts = Sitecore.Context.Item.Axes.GetDescendants().Where(x => x.TemplateName == "BloggrPost");
    foreach (var item in posts)
    {
      <div>
        <h3><a href="@LinkManager.GetItemUrl(item)">@item.DisplayName</a></h3>
        @Html.Sitecore().Field("BloggrDescription", item, new { DisableWebEdit = true})
      </div>
    }
  }
</div>