<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- BLOGGR CONFIG -->
    <commands>
      <command name="bloggr:createpost" type="Alienlab.Bloggr.BloggrCreatePostCommand, Alienlab.Bloggr" />
    </commands>
    
    <events>
      <event name="item:added">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemAdded" />
        <handler type="Alienlab.Bloggr.BloggrBlogEventHandler, Alienlab.Bloggr" method="OnItemAdded" />
      </event>
      <event name="item:moved">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemMoved" />
      </event>
      <event name="item:renamed">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemRenamed" />
      </event>
      <event name="item:saved">
        <handler type="Alienlab.Bloggr.BloggrPostEventHandler, Alienlab.Bloggr" method="OnItemSaved" />
      </event>
    </events>

    <hooks>
      <hook type="Alienlab.Bloggr.BloggrInstallHook, Alienlab.Bloggr" />
    </hooks>

    <sites>
      <site name="alen" blogName="Alen" hostName="" rootPath="/sitecore/content/blogs/alen" database="master" filterItems="true" enableWorkflow="true" inherits="website" patch:before="site[@name='website']" />
    </sites>

    <settings>
      <setting name="Bloggr.DefaultBlogSecurity" value="ar|sitecore\Bloggr Administrators - $name|pd|+item:rename|+item:create|+item:delete|+item:admin|ar|sitecore\Bloggr Reviewers - $name|pd|+item:write|ar|sitecore\Bloggr Authors - $name|pd|+item:rename|+item:write|+item:create|" />
    </settings>
  </sitecore>
</configuration>